.basket {
    h2 {
        text-align: center;
        font-weight: 600;
        padding-top: 2rem;
        font-family: Source Serif Pro, Semibold;
    }

    hr {
        height: 0.6rem !important;
        width: 15%;
        background-color: blue !important;
        margin-bottom: 3rem;
        margin-left: 34rem !important;
        opacity: 3;
    }

    .product {
        display: flex;
        padding-top: 0px;
        text-align: left;

        img {
            padding-bottom: 2rem;
        }

        div:last-child {
            padding-left: 2rem;
            padding-top: 1rem;
        }

        h6 {
            font-weight: 400;
        }

        h5 {
            font-size: 1.4rem;
            font-weight: 600;
        }
    }

    .productimage {
        color: black;
    }

    .input-group {
        padding-top: 3.3rem;

        .border {
            width: 2rem;
            height: 2rem;
            background-color: transparent;
            border: 2px #B5B7BC solid !important;
            color: #B5B7BC;
        }

        .quant {
            border: 2px #B5B7BC solid;
            width: 4rem;
            height: 2rem;
            text-align: center;
            border-radius: 6px !important;
            padding-top: 5px;
            margin-top: 0.4rem;
        }

        p:last-child {
            font-size: .9rem;
        }
    }

    .icon {
        padding-top: 1.5rem;

        p {
            font-size: .8rem;
            font-weight: 500;
            margin-bottom: 0.5rem;
        }
    }

    .cartdetails {
        border: 2px #D1D3D6 solid;
        padding: 2rem;
        box-shadow: 5px 10px 8px 10px #0000000d;
        border-radius: 0.3rem;

        h5 {
            font-size: 1.5rem;
            font-weight: 600;
        }

        h6 {
            font-size: 14px;
            font-weight: 400;
            padding-top: 1rem;
        }

        button {
            padding-top: 1rem;
        }

        .check {
            border: none;
            background-color: #1F39FF;
            color: white;
            padding: 8px 70px;
            border-radius: 2rem;
            margin-top: 1rem;
        }

        .paypal {
            background-color: transparent;
            border: none;
        }
    }
}

.buttonsone {
    text-align: center;
}

// Result start 

.acco-right {
    padding-left: 14rem;
}

// Recently Viewed

.caro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 100%;
    color: #fff;
    margin: 0 15px;
    font-size: 1em;
}

.accordianphone {
    display: none;
}

@media only screen and (min-width: 320px) and (max-width: 766px) {
    .basket .input-group {
        padding-top: 0.3rem;
        margin-left: 173px;
        margin-top: -33px;
    }

    .icon {
        display: none;
    }

    .basket hr {
        height: 0.6rem !important;
        width: 27%;
        background-color: blue !important;
        margin-bottom: 3rem;
        margin-left: 8rem !important;
        opacity: 3;
    }

    .acco-right {
        padding-left: 8rem;
    }
    .accordianone{
        display: none;
    }


}

@media only screen and (min-width: 768px) and (max-width: 1020px) {
    .icon {
        display: none;
    }

    .basket hr {
        display: none;
    }
    .accordianone{
        display: none;
    }


}